* {
    box-sizing: border-box;
}

.header {
    border-style: solid;
    border-width: 2px;
    margin: auto;
    width: 40%;
    padding: 10px;
    text-align: center;
}

.pokemonContainerOuter {
    text-align: center;
    margin-bottom: 20px;
}

.pokemonContainerInner {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.pokemonTypeContainer {
    float: left;
}

.pokemonType {
    margin-left: 5px;
    padding: 2px 3px 2px 3px;
}

.pokemonType-normal {
    background-color: LightYellow;
}

.pokemonType-water {
    background-color: aqua;
}

.pokemonType-flying {
    background-color: DeepSkyBlue;
}

.pokemonType-fire {
    background-color: red;
}

.pokemonType-poison {
    background-color: Chartreuse;
}

.pokemonType-bug {
    background-color: GreenYellow;
}

.pokemonType-electric {
    background-color: yellow;
}

.pokemonType-ground {
    background-color: GoldenRod;
}

.pokemonType-fairy {
    background-color: LightPink;
}

.pokemonType-grass {
    background-color: DarkGreen;
}

.pokemonType-fighting {
    background-color: DarkSalmon;
}

.pokemonType-rock {
    background-color: DarkGrey;
}

.pokemonType-psyhic {
    background-color: Khaki;
}

.pokemonType-steel {
    background-color: LightSteelBlue;
}

.pokemonImage {
    width: 100px;
    height: 100px;
}